* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, sans-serif;
    color: #4D4D4D;
    overflow-x: hidden;
}

a {
    color: #2185C5;
    text-decoration: none;
    transition: all ease-out 0.3s;
}

    /*a:visited {
        color: #2185C5;
    }*/

    a:hover {
        color: #6EC9EF;
        text-decoration: none;
    }

.table1AlignUp td {
    vertical-align: top !important;
}
.textStyle1 {
    line-height: 25px;
    font-size: 16px;
}

    .textStyle1 ul {
        margin: 0;
    }

    .textStyle1 li {
        list-style: inside;
        list-style-type: decimal;
        margin: 15px 0;
        font-size: 14px;
        line-height: 20px;
    }

header {
    border-bottom: 1px #c0ddf0 solid;
}

.headRowUp {
    position: relative;
    background-color: #0774B5;
}

.colLogo {
    background-color: #fff;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
}

.logo {
    text-align: center;
    height: 60px;
    background-color: #ffffff;
}

    .logo img {
        width: 210px;
    }

.headLine {
    position: relative;
}

.headTel {
    display: inline-block;
    font-size: 1.5em;
    color: #fff;
    padding: 15px;
}

.descText {
    width: 65%;
    margin: 0 0 20px 0;
}

.headProblemBut {
    display: inline-block;
}

    .headProblemBut span {
        margin: 0 3px 0 5px;
    }

    .headProblemBut a {
        color: #80D6FF;
    }

.headLogin {
    display: inline-block;
    position: absolute;
    right: 0;
    color: #fff;
    margin: 23px 0 0 0;
}
    .headLogin a {
        color: #fff0f5;
        text-decoration: underline;
    }

.nav1 {
    margin: 15px 0 10px 0;
}

    .nav1 a {
        display: inline-block;
        position: relative;
        font-size: 1.2em;
        padding: 15px 15px;
        border-radius: 5px;
    }

        .nav1 a:hover {
            background-color: #f4f4f4;
        }

.version {
    color: lightgrey;
    font-size: x-small;
    display: inline-block;
}

.nav1ChangeOrg {
    display: block;
    position: relative;
    font-size: 1em !important;
    margin: 27px 0 5px 0;
}

.nav1ChangeOrg a {
    display: inline-block;
    margin: 0 10px 0 0;
}

.nav1ChangeOrgLink {
    position: relative;
    display: inline-block;
    color: #2185C5;
    cursor: pointer;
    border: 1px #daeffa solid;
    padding: 5px 0 5px 5px;
    margin: 0 0 5px 0;
}

    .nav1ChangeOrgLink span {
        margin: 0 5px 0 5px;
    }

    .nav1ChangeOrgLink ul {
        display: none;
        position: absolute;
        font-size: 0.9em;
        left: 0;
        right: 0;
        text-align: left;
        padding: 5px;
        background-color: #ffffff;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

        .nav1ChangeOrgLink ul a {
            display: block;
            padding: 10px;
            border-radius: 5px;
        }

            .nav1ChangeOrgLink ul a:hover {
                background-color: #f4f4f4;
            }

    .nav1ChangeOrgLink:hover ul {
        display: block;
    }

.nav1SubMenuHover {
    display: inline-block;
}

    .nav1SubMenuHover:hover .nav1SubMenu {
        max-height: 1000px;
        transition: all ease-out 0.5s;
    }
  .nav1SubMenuHover:hover .nav1SubItem {
    background-color: #f4f4f4; }

.nav1SubItem {
    display: inline-block;
    padding-right: 30px !important;
    background: url(Images/NewFront/nav1SubItem.svg) center right 12px no-repeat;
}

.nav1SubMenu {
  display: block;
  position: absolute;
  min-width: 300px;
  max-height: 0;
  overflow: hidden;
  padding: 0;
  margin: 0 0 0 2px;
  background-color: #f4f4f4;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 1; }
  .nav1SubMenu a {
    display: block;
    font-size: 1em;
    padding: 15px;
    border-radius: 0;
    border-top: 1px #ffffff solid; }
    .nav1SubMenu a:hover {
      background-color: #f5f5f5; }

    .nav1SubMenu .container {
        padding: 20px;
    }

    .login-container {
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
        width: 1100px;
    }
h1 {
    font-size: 2em;
    color: #0774B5;
    margin: 30px 0;
}

h2 {
    font-size: 1.5em;
    color: #0774B5;
    margin: 30px 0;
}


.expUserItem3 {
  display: inline-block;
  width: 188px;
  height: 30px;
  text-align: left; }

.expUserItem3Check {
  display: none; }

.expUserItem3Check:checked + .expUserItemBlock3Circ {
  left: 171px; }

.expUserItem3Check:checked ~ .expUserItemIcon1 {
  opacity: 0.5; }

.expUserItem3Check:checked ~ .expUserItem3text1 {
  left: 300px;
  opacity: 0; }

.expUserItem3Check:checked ~ .expUserItem3text2 {
  left: 17px;
  opacity: 1; }

.expUserItem3Check:checked ~ .expUserItem3Icon1 {
  opacity: 1; }

.expUserItem3Block, .expUserItem3Block2 {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 30px;
  background-color: #5cb85c;
  border-radius: 15px;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  overflow: hidden;
  margin: 0 0 10px 0 }
  .expUserItem3Block:hover .expUserItemBlock3Circ, .expUserItem3Block2:hover .expUserItemBlock3Circ {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8); }

.expUserItem3Icon, .expUserItem3Icon1 {
  position: absolute;
  top: 7px;
  font-size: 14px;
  color: #ffffff;
  transition: all 0.2s ease-in; }

.expUserItem3Icon1 {
  right: 8px;
  opacity: .5; }

.expUserItem3Block2 {
  background-color: #ce3d39; }

.expUserItemBlock3Circ {
  position: absolute;
  width: 28px;
  height: 28px;
  left: 1px;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 2px #ffffff solid;
  border-radius: 15px;
  transition: all 0.2s ease-in;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }

.expUserItem3text, .expUserItem3text1, .expUserItem3text2 {
  position: absolute;
  display: block;
  font-size: 12px;
  font-weight: 100;
  line-height: 13px;
  margin: 8px 0;
  color: #ffffff;
  transition: all 0.2s ease-in;
  pointer-events: none; }

.expUserItem3text1 {
  left: 50px; }

.expUserItem3text2 {
  left: -300px;
  opacity: 0; }


.breadcrumb2 {
    margin-left: -10px;
}

    .breadcrumb2 a {
        display: inline-block;
        padding: 25px 10px 0 10px;
    }

.bodyBack {
    background: url(Images/NewFront/bodyBack.jpg) top center repeat-x;
}

.toolPanel1 {
    font-size: 1.2em;
    background-color: rgba(255, 255, 255, 0.8);
    border-top: 1px #daeffa solid;
    border-bottom: 1px #daeffa solid;
}

    .toolPanel1 .col-md-8 {
        border-right: 1px #daeffa solid;
    }

    .toolPanel1 .col-md-4 {
        text-align: right;
    }

.toolPanel2 {
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom: 1px #daeffa solid;
}

    .toolPanel2 .col-md-4 {
        border-right: 1px #daeffa solid;
    }

.subLinks1 {
    font-size: 0.9em;
}

    .subLinks1 a {
        display: inline-block;
        padding: 10px 17px 10px 17px;
        margin: 5px 3px;
        border-radius: 5px;
    }

.linkBut a {
    display: inline-block;
    border: 1px #ffffff solid;
}

    .linkBut a:hover {
        border-color: #6EC9EF;
    }


.btn-search-ikt {
    border: 1px solid #2185C5;
    height: 34px;
    background-color: white;
}
.blue-Btn {
    border: 1px solid #6EC9EF;
}
    .btn-search-ikt:hover,
    .blue-Btn:hover {
        border: 1px solid #2185C5;
        color: black;
        background-color: #e2f4ff;
    }


.subBlock1 {
    display: inline-block;
    padding: 0 15px;
}

    .subBlock1 a {
        display: inline-block;
        padding: 10px 10px;
    }

.delItem {
    color: #FF543F !important;
}

    .delItem span {
        display: inline-block;
        margin: 0 3px 0 0;
    }

.active {
    color: #ffffff !important;
    background-color: #0774B5 !important;
}

.table1 table {
    font-size: 13px;
    width: 100%;
    border-width: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-collapse: collapse;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

.table1 thead {
    color: #fff;
    background-color: #0774B5;
    border-collapse: separate;
}

.table1 tbody tr:hover {
    background-color: #F2F2F2;
}

.table1 th {
    color: #edf8fd;
    font-weight: 100;
    border-bottom: 1px solid #c1dcec !important;
    vertical-align: middle !important;
    padding: 10px 15px !important;
}

.table1 td {
    position: relative;
    border-bottom: 1px #c1dcec solid;
    padding: 10px 15px !important;
    /* vertical-align: middle !important;*/
}

.table1MinTd {
    width: 1px;
}

.table1Check {
    width: 16px;
    height: 16px;
}

.table1But, .table1ButDel, .table1ButList {
    display: inline-block;
    font-size: 28px;
    padding: 8px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
}

    .table1But:hover, .table1ButDel:hover, .table1ButList:hover {
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

.table1ButDel {
    width: 35px;
    height: 35px;
    background-image: url(Images/NewFront/ButDel.svg);
}

.table1ButList {
    width: 35px;
    height: 35px;
    background-image: url(Images/NewFront/ButList.svg);
}

/*.tablesorter-header-inner:after {
    content: "\25bd";
    font-size: 12px;
    padding: 0 0 0 4px;
}*/


.tableActItem, .tableActItemUp, .tableActItemDown {
    color: #ffffff !important;
    font-weight: bold !important;
}

    .tableActItem:after, .tableActItemUp:after, .tableActItemDown:after {
        font-size: 10px !important;
        padding: 0 0 0 3px;
    }

    .tableActItemUp:after {
        content: "\25b2" !important;
    }

    .tableActItemDown:after {
        content: "\25bc" !important;
    }

.table1ButAccept {
    color: #5cb85c !important;
}

.table1ButEdit {
    color: #d9534f !important;
}

.gtdNumInput {
    position: relative;
    width: 40px;
    height: 35px;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 6px;
}

    .gtdNumInput:focus {
        position: absolute;
        right: 0;
        width: 300px;
        transition: width ease-out 0.2s;
    }

.gtdNumInputWidth {
    width: 70px;
}

.numArrows {
    display: inline-block;
    text-align: center;
    width: 30px;
}

    .numArrows .form-control {
        display: inline-block;
        width: 30px;
        height: 28px;
        padding: 3px;
        text-align: center;
    }


.table2 {
    display: table;
    background-color: #fff;
    cursor: default;
}

    .table2 ul {
        display: table-row;
        border-bottom: 1px #F2F2F2 solid;
    }

        .table2 ul:hover {
            background-color: #fafafa;
        }

    .table2 li {
        display: table-cell;
        padding: 8px 15px;
        font-size: 12px;
    }

.table2Head {
    color: #fff;
    background-color: #0774B5;
}

    .table2Head:hover {
        background-color: #0774B5 !important;
    }

.DropDownBlock label{
    display: block;
    font-weight: 100;
    cursor: pointer;
}

.DropDownBlockCheck {
    display: none;
}

.DropDownBlockLink {
    display: inline-block;
    font-size: 1.2em;
    color: #0774B5;
    padding: 5px 10px 2px 0;
    border-bottom: 1px #75C4EA dashed;
}

    .DropDownBlockLink:before {
        content: "+ ";
        font-size: 21px;
        font-weight: 100;
        color: #75C4EA;
    }

input.DropDownBlockCheck:checked ~ .DropDownBlockCont {
    max-height: 1000px;
    position: relative;
    transition: all ease-out 1s;
}

input.DropDownBlockCheck:checked + .DropDownBlockLink {
    font-weight: bold;
    border-bottom: none;
}

input.DropDownBlockCheck:checked + .DropDownBlockLink:before {
    content: "- ";
}

.DropDownBlockCont {
    display: block;
    margin: 20px 0 0 0;
    max-height: 0;
    overflow: hidden;
    position: absolute;
}

.status1, .statSuccess, .statError, .statBlue {
    display: block;
    width: 100%;
    font-size: 0.9em;
    color: #ffffff;
    background-color: #777777;
    border-radius: 4px;
    text-align: center;
    padding: 2px;
    border: none;
}

.statSuccess {
    background-color: #5CBA5B;
}

.statError {
    background-color: #c9302c;
}

.statBlue {
    background-color: #337ab7;
}



.paginationBlock {
    text-align: center;
}

.pagination li {
    display: inline-block;
    font-size: 1.3em;
}

.indBlock, .indBlock2 {
    background-color: #F7F7F7;
    margin: 25px 0;
    font-size: 14px;
    box-shadow: 0 0 30px rgba(26, 76, 91, 0.4);
    border-radius: 20px;
    overflow: hidden;
}

    .indBlock ul, .indBlock2 ul {
        display: block;
    }

    .indBlock li, .indBlock2 li {
        display: block;
        border-bottom: 1px #e7e7e7 solid;
        padding: 15px 0;
    }

.indBlockHead, .indBlock2Head {
    color: #ffffff;
    font-size: 21px;
    padding: 20px 35px;
    background-color: #0774B5;
    background-image: url(Images/NewFront/indBlockHead.png);
    background-repeat: no-repeat;
    background-position: right;
}

.indBlockBody {
    padding: 20px 35px;
}

.indBlockError {
    border: 2px #DE351F solid;
}


.indBlockWarning {
    border: 2px #f2e085 solid;
}
    .indBlockError .indBlockHead, .indBlockError .indBlock2Head {
        background-color: #DE351F;
    }

.indBlockWarning .indBlockHead, .indBlockWarning .indBlock2Head {
    background-color: #f2e085;
}

.errorColor {
    color: #DE351F;
}

.successColor {
    color: #3c763d;
}

.warningColor {
    color: #8a6d3b;
}
.indBlock2 {
    font-size: 12px;
}

     .indBlock2 ul {
        margin: 0;
        padding: 0;
    }

    .indBlock2 li {
        font-size: 12px;
        padding: 8px 0;
    }

 .indBlock2 {
     font-size: 12px;
}

.indBlock2 ul {
   margin: 0;
   padding: 0;
}

.indBlock2 li {
    padding: 8px 0;
}

.indBlock2Head {
     font-size: 18px;
     padding: 10px 25px !important;
}
.butBlock1 {
    margin: 8px 0 0 0;
}

    .butBlock1 button {
        margin: 5px 0;
    }

.servicesStat {
    color: #008C0E;
}

    .servicesStat span {
        margin: 0 10px 0 0;
    }

.indBlocCompany strong {
    color: #0774B5;
}

.indBlockChangeOrg {
    float: right;
}

.indBlockRight {
    padding: 0 10px 0 50px;
}

.indBlock2 div {
    border-bottom: 1px #e7e7e7 solid;
    padding: 20px;
}
.indBlock2 div a {
    display: block;
    font-size: 23px;
    padding: 8px 0;

}


.footer_unauth,
footer {
    position: relative;
    font-size: 18px;
    position: relative;
    background-color: #0774B5;
    width: 100%;
    margin: 30px 0 0 0;
    z-index: 3;
}

.footerFix {
    position: fixed;
    bottom: 0;
}

.footer2 {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 10px 4px 10px;
    background-color: #0774B5;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    z-index: 3;
}
    .footer_unauth a,
    .footer2 a {
        color: #ffffff;
        text-decoration: none;
    }
        .footer_unauth a:hover,
        .footer2 a:hover {
            color: #6EC9EF;
        }

.footerTop {
    position: relative;
    color: #ffffff;
    padding: 30px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
    .footer_unauth a,
    .footerTop a {
        color: #ffffff;
        text-decoration: none;
    }

        .footer_unauth a:hover,
        .footerTop a:hover {
            color: #6EC9EF;
        }

.footItems a {
    display: block;
    padding: 10px 0;
}

.footIc {
    display: block;
    padding: 10px 0 10px 50px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 40px 40px;
}

.footIcF2 {
    display: inline-block;
    font-size: 16px;
    padding: 6px 30px 8px 30px;
    background-repeat: no-repeat;
    background-position: left 5px;
}

.footIcVideo {
    background-image: url(Images/NewFront/footIcPlay.svg);
}

    .footIcVideo:hover {
        background-image: url(Images/NewFront/footIcPlayAct.svg);
    }

.privAgr {
    display: inline-block;
    color: #6EC9EF;
    margin: 5px 0 6px 0;
}

    .privAgr:hover {
        color: #ffffff;
    }

.footIcHelp {
    background-image: url(Images/NewFront/footIcHelp.svg);
}

    .footIcHelp:hover {
        background-image: url(Images/NewFront/footIcHelpAct.svg);
    }

.footIcCont {
    background-image: url(Images/NewFront/footIcCont.svg);
}

    .footIcCont:hover {
        background-image: url(Images/NewFront/footIcContAct.svg);
    }

.footTel {
    display: inline-block;
    color: #ffffff;
    white-space: nowrap;
    margin: 0;
    padding: 0 0 3px 43px;
    background: url(Images/NewFront/footIcTelBlack.svg) left 9px center no-repeat;
}

.footTelPos {
    margin: 5px 0 0 0;
}

.footTelPosF2 {
    margin: 0 35px 5px 0;
}

.butCallBack {
    display: inline-block;
    color: #ffffff !important;
    border: 1px #ffffff solid;
    padding: 6px 18px 6px 46px;
    border-radius: 5px;
    background-image: url(Images/NewFront/footIcTel.svg);
    background-repeat: no-repeat;
    background-position: left 11px center;
    white-space: nowrap;
    transition: all ease-out 0.2s;
}

    .butCallBack:hover {
        color: #6EC9EF !important;
        border: 1px #6EC9EF solid;
        background-image: url(Images/NewFront/footIcTelAct.svg);
    }

.butCallBackPos {
    margin: 25px 0 0 0;
}

.butCallBackPosF2 {
    margin: 0 0 5px 0;
}

.footerBottom {
    font-size: 14px;
    text-align: center;
    color: #fff;
    padding: 18px 10px 10px 10px;
    background-color: #065F94;
}

@media (max-width: 992px) {
    .headProblemBut {
        margin: 5px 10px;
    }

    .headLogin {
        position: relative;
        margin: 15px 15px;
    }
    .nav1 a {
        display: block;
    }
    .nav1SubMenuHover {
        display: block;
    }

    .toolPanel1 .col-md-8 {
        border-right: none;
    }

    .toolPanel1 .col-md-4 {
        text-align: left;
    }

    .toolPanel2 .col-md-4 {
        border-right: none;
    }

    .table1 table {
        font-size: 8px;
    }

        .table1 table th {
            padding: 4px !important;
        }

        .table1 table td {
            padding: 4px !important;
        }

    .tableArrow {
        font-size: 6px;
        padding: 0 0 0 2px;
    }

    .butCallBack {
        padding: 6px 12px 6px 40px;
    }

    .footIc {
        padding: 10px 0 10px 45px;
    }

    .footerBottom {
        font-size: 11px;
    }

    .table1But, .table1ButDel, .table1ButList {
        font-size: 12px;
        padding: 6px;
    }
}

@media (max-width: 768px) {
    body {
        overflow-x: auto;
    }
}

/*# sourceMappingURL=style.css.map */

@media (min-width: 1600px) {
    .container {
        width: 1570px;
    }
}

@media (max-width: 1600px) {
    .table1 table {
        font-size: 12px;
    }

        .table1 table th {
            padding: 10px !important;
        }

        .table1 table td {
            padding: 10px !important;
        }
}

@media (max-width: 1200px) {
    body {
        overflow-x: auto;
    }

    .table1 table {
        font-size: 10px;
    }

        .table1 table th {
            padding: 5px !important;
        }

        .table1 table td {
            padding: 5px !important;
        }

    .tablesorter-header-inner:after {
        content: "";
        padding: 0;
    }

    .tableActItem:after, .tableActItemUp:after, .tableActItemDown:after {
        font-size: 7px !important;
        padding: 0 0 0 2px;
    }

    .table1But, .table1ButDel, .table1ButList {
        font-size: 18px;
    }

    .gtdNumInput {
        font-size: 9px;
        width: 20px;
        padding: 3px;
    }

    .btn-sm {
        font-size: 8px;
    }
    .descText {
        width: 100%
    }
}